*{
    box-sizing: border-box;
}
.main{
    width: 200vh;
    height: 100vh;
}
.black{
    background-color: #000000;
    width: 200vh;
    height: 20vh;
}
.black2{
    background-color: #000000;
    width: 
    height:
}